#Task 1 NUMBERS AND VARIABLES

1. Create three variables in a single line and assign values to them in such a manner that each one of
them belongs to a different data type.

In [ ]:
a, b, c = 10, 10.01, 'hello'

print(a, b,  c)
print(type(a))
print(type(b))
print(type(c))

10 10.01 hello
<class 'int'>
<class 'float'>
<class 'str'>

2. Create a variable of type complex and swap it with another variable of type integer.

In [ ]:
x = 3+6j
y = 4

print("Before swap: ", x, y)

x, y = y, x

print("After swap: ", x, y)

Before swap:  (3+6j) 4
After swap:  4 (3+6j)

3. Swap two numbers using a third variable and do the same task without using any third variable.

In [ ]:
# Swap two variables using third variable

x = 10
y = 20

# Using third variable z to swap the value

print("Before Swap: ", x, y)

z = x 

x = y 

y = z 

print("After Swap: ", x, y)

Before Swap:  10 20
After Swap:  20 10

In [ ]:
# Swap two variables without using third variable

a = 10
b = 20

print("Before swap: ", a, b)
a , b = b, a
print("After swap: ", a, b)

Before swap:  10 20
After swap:  20 10

5. Write a program to complete the task given below.

Ask users to enter any 2 numbers in between 1-10 , add the two numbers and keep the sum in
another variable called z. Add 30 to z and store the output in variable result and print result as the
final output.

In [ ]:
input_1 = int(input("Enter first number between 1 and 10: "))

input_2 = int(input("Enter second number between 1 and 10: "))

z = input_1 + input_2

result = z + 30 

print(result)

Enter first number between 1 and 10: 2
Enter second number between 1 and 10: 3
35

6. Write a program to check the data type of the entered values.
HINT: Printed output should say - The data type of the input value is : int/float/string/etc

In [ ]:
# check data type of variable final 

final = 4.5

type(final)

float

7. Create Variables using formats such as Upper CamelCase, Lower CamelCase, SnakeCase and
UPPERCASE.

In [ ]:
# Upper CamelCase

print("Upper CamelCase: ", "FinalValue")

# Lower CamelCase

print("Lower CamelCase: ", "finalValue")

# SnakeCase

print("Snakcase: ", "final_value")

# UPPERCASE

print("UPPERCASE: ", "FINALVALUE")

Upper CamelCase:  FinalValue
Lower CamelCase:  finalValue
Snakcase:  final_value
UPPERCASE:  FINALVALUE

8. If one data type value is assigned to ‘a’ variable and then a different data type value is assigned to ‘a’
again. Will it change the value? If Yes then Why?

In [ ]:
""" Yes, it will change the value, because variables are just only the name given to the memory location, if we assign some
value first and then reassign with another value, it will repalce the old value with new value"""

# For example: let first assign the value 10 and then 2.5 to a variable name "same"

same_variable = 10

print(same_variable)

same_variable = 20.5

print(same_variable)

10
20.5

# Task 2 OPERATORS AND DECISION MAKING STATEMENT

1. Write a program in Python to perform the following operation:

If a number is divisible by 3 it should print “Consultadd” as a string.

If a number is divisible by 5 it should print “Python Training” as a string.

If a number is divisible by both 3 and 5 it should print “Consultadd - Python Training” as a string.

In [ ]:
x = int(input("Enter a number"))

if (x % 3 == 0 and x % 5 != 0):
  print("Consultadd")

elif (x % 5 == 0 and x % 3 != 0):
  print("Python Training")

elif (x % 3 and x % 5)  == 0:
  print("Consultadd - Python Training")

**Q2. Write a program in Python to perform the following operator based task:**

Ask user to choose the following option first:.

If User Enter 1 - Addition.

If User Enter 2 - Subtraction.

If User Enter 3 - Division.

If User Enter 4 - Multiplication.

If User Enter 5 - Average.

Ask user to enter two numbers and keep those numbers in variables num1 and num2 respectively for the first 4 options mentioned above.

Ask the user to enter two more numbers as first and second for calculating the average as
soon as the user chooses an option 5.

At the end if the answer of any operation is Negative print a statement saying “NEGATIVE”.

NOTE: At a time a user can only perform one action.

In [ ]:
print("Please select any option from below list")
print("For Addition:       ", "1")
print("For Substraction:   ", "2")
print("For Multiplication: ", "3")
print("For Division:       ", "4")
print("For Average:        ", "5")

option = (input())

if option in ('1','2','3','4'):
  num1 = int(input("Enter first number "))
  num2 = int(input("Enter second number "))
  
  if option == '1':
    a = num1+num2
    print(a)
  elif option == '2':
    b = num1-num2
    print(b)
  elif option == '3':
    c = num1*num2
    print(c)
  elif option == '4':
    d = num1/num2
    print(d)
    
  if (a) or (b) or (c) or (d) < 0:
    print("NEGATIVE")
    

elif option == '5':
  num3 = int(input("Enter the first number "))
  num4 = int(input("Enter the second number "))
  e = ((num3+num4)/2)
  print(e)
  if (e) < 0:
    print("NEGATIVE")
    

else:
  print("Invalid Input")

In [ ]:
a = 10
b = 20
c = 30

avg = (a+b+c)/3
print("avg =", avg)

if (avg>a) and (avg > b) and (avg > c):
  print("avg is higher than a,b,c")

elif  (avg>a) and (avg > b):
  print("avg is higher than a and b")

elif  (avg>a) and (avg > c):
  print("avg is higher than a and c")

elif  (avg>b) and (avg > c):
  print("avg is higher than b and c")

elif  (avg>a):
  print("avg is higher than a")

elif  (avg>b):
  print("avg is higher than b")

elif  (avg>c):
  print("avg is higher than c")

In [ ]:

x = int(input("Please enter a number "))

while True:
  if x < 0:
    break
  else:
    print("Good Going")
    continue
print("It's Over")

In [ ]:
for x in range(2000, 3200):
  if x%7 == 0 and x%5 !=0:
    print(x)

In [ ]:
# Write a program that prints all the numbers from 0 to 6 except 3 and 6.

for x in range(6):
  if (x == 3):
    continue
  print(x, end = " ")

In [ ]:
 # Write a program that accepts a string as an input from the user and calculate the number of digits and letters.
 #consul72

string_name  = input()

y = 0
z = 0
 
for x in string_name:
  if x.isdigit():
    y=y+1
  elif x.isalpha():
    z=z+1
print("Number of alphabets ", y)
print("Numbers of digits ", z)

In [ ]:
guess_number = int(input("Guess the lucky number"))

In [ ]:
number = input("Guess the lucky number ")
while number != 5:
   print ("That is not the lucky number")
   number = input("Guess the lucky number ")

In [ ]:
#Q10.