#Task 3

In [ ]:
#Q1.

my_list = [2,"Hello", 3, 4, 4.5, 3+4j, "World", 2+7j, 8, 9]
my_list

[2, 'Hello', 3, 4, 4.5, (3+4j), 'World', (2+7j), 8, 9]

In [ ]:
#Q2
my_list = [2,"Hello", 3, 4, 4.5]

''' From 1st index to 3rd index, 4th index will exclude '''
print(my_list[1:4])

''' From 1st index to 4th index with step size 2  '''
print(my_list[1:5:2])

''' From reverse '''
print(my_list[-5:-1:2])

['Hello', 3, 4]
['Hello', 4]
[2, 3]

In [ ]:
#Q3

my_list = [1,2,3,4,5,6,7,8,9,10]

for f in my_list:
  h = f
  g = h+f

print(g)

20

In [ ]:
#Q4

my_list = [1,2,3,4,5,6,7,8,9,10]

'''Smallest Number'''
print(min(my_list))

'''Largest Number'''
print(max(my_list))

1
10

In [ ]:
#Q5

num = [1,2,3,4,5,6,7,8,9,10]

new_list = [x for x in num if x%2 != 0]
new_list

[1, 3, 5, 7, 9]

In [ ]:
# Q6

list_of_squares = [x**2 for x in range(1,31) if x < 6 or (x > 25 and x < 31)]
list_of_squares

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [ ]:
# Q7

Sample_input =  [1,3,5,7,9,10]

Sample_input[-1:] = [2,4, 6, 8]

print(Sample_input)

''' OR '''

# It can also be done as:

a = [1,3,5,7,9,10]
b = [2,4,6,8]
a.extend(b)
d = a
d.pop(5)
print(d)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
# Q8

a = {1:10,2:20} 

b = {3:30,4:40}
 
a.update(b)

a

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
#Q9

c = {x:x*x for x in range(1,6)}
c

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Q10

x  = str(input("Enter the numbers:"))

result = x.split() 

my_list = list(result)

print(my_list)

my_tuple = tuple(result)

print(my_tuple)

Enter the numbers:34 67 55 33 12 98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# Task 4

In [ ]:
#Q1

sample = "1234abcd"

sample[::-1]

'dcba4321'

In [13]:
#Q2

x = input()

def upcase_locase(x):      
    u = sum(1 for i in x if i.isupper())
    l = sum(1 for i in x if i.islower())


    print( "No. of Uppercase characters : %s,No. of Lower case Characters : %s" % (u,l))


upcase_locase(x)

hELLO
No. of Uppercase characters : 4,No. of Lower case Characters : 1

In [4]:
#3 

def unique_list(z):
  my_list = []
  for a in z:
    if a not in my_list:
      my_list.append(a)
  return my_list

print(unique_list([1,1,1,1,2,3,4,'a']))

[1, 2, 3, 4, 'a']

In [7]:
#4


my_list = [x for x in input().split('-')]

my_list.sort()


print('-'.join(items))

One Two Three Four
Four-One-Three-Two

In [ ]:
#5

while True:
  lines = input( )
  if lines != "":
    print(lines.upper())
  else:
        break

In [24]:
#6 

def String_to_int(a,b):
  return int(a)+int(b)

String_to_int("1","2")

7

In [31]:
#7

a = input()
b = input()

def string_length(a,b):
	x1 = len(a)
	x2 = len(b)
	if x1>x2:
		print(a)
	elif x2>x1:
		print(b)
	else:
		print(a)
		print(b)

string_length(a,b)

Hellooo
World
Hellooo

In [34]:
#8

def Tuple_function():
  my_list = list()
	
  for i in range(1,21):
    my_list.append(i**2)
    print (tuple(my_list))
		
Tuple_function()

(1,)
(1, 4)
(1, 4, 9)
(1, 4, 9, 16)
(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25, 36)
(1, 4, 9, 16, 25, 36, 49)
(1, 4, 9, 16, 25, 36, 49, 64)
(1, 4, 9, 16, 25, 36, 49, 64, 81)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361)
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [38]:
#9

limit = int(input())

def showNumbers(limit):
    
    for i in range(limit+1):
        print(f'{i} - EVEN' if i%2 == 0 else f'{i} - ODD') 

showNumbers(limit)

4
0 - EVEN
1 - ODD
2 - EVEN
3 - ODD
4 - EVEN

In [46]:
# 10


even_numbers = filter(lambda x: x%2==0, range(1,21))

print(list(even_numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
#11

my_list = [1,2,3,4,5,6,7,8,9,10]
 
even_numbers = map(lambda x: x**2, filter(lambda   x: x%2==0, my_list))
 
print(list(even_numbers))

[4, 16, 36, 64, 100]

In [62]:
#12 

def throws():
    return 5/0
try:
    throws()
except ZeroDivisionError:
    print( "division by zero!")
except Exception as err:
    print ('Caught an exception')

division by zero!

In [82]:
#13 

#from functools import reduce


flatten_list = [1,2,3,4,5,6,7]

result = reduce(lambda x, a: 10 * x + a, flatten_list)

result

1234567

In [75]:
#14

my_list =[]

for x in range(20):
    if (x%7==0) and (x%3 != 0 ):
        my_list.append(x)

print(my_list)

[7, 14]

In [90]:
#16

def foo(): 
  try: 
    return 1 
  finally: 
    return 2
  k = foo()
print(k)

2

In [1]:

def a(): 
  try: 
    f(x, 4) 
  finally: 
    print('after f') 
    print('after f?')
    print(a())